.csk{
    text-align: center;
    align-items: center; 
    justify-content: center;
    display: flex;
}
.mi{
    text-align: center;
    align-items: center; 
    justify-content: center;
    display: flex;
}
.srh{
    text-align: center;
    align-items: center; 
    justify-content: center;
    display: flex;
}